body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto";
}

.header {
    background-color: #1f2937;
    margin: 0;
    padding: 16px 256px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header-link {
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.block-one {
    background-color: #1f2937;
    margin: 0;
    display: flex;
    padding: 96px 256px;
    justify-content: space-between;
    align-items: center;
}

.blockonetext {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 600px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.button1 {
    background-color: #3882f6;
    border-radius: 8px;
    border-style: none;
    padding: 8px;
    width: 96px;
    font-weight: 900;
    color: #e5e7eb;
}

.blockoneimg {
    background-color: #1f2937;
    width: 400px;
    height: 200px;
}

